{% extends 'base.html' %}
{% load static %}
{% block extrahead%}
    <link rel="stylesheet" href="{% static 'style_home.css' %}">
{% endblock %}
{% block nav %}
<div id='nav-right'>
    <li><a href="{% url 'home' %}">Flux</a></li>
    <li><a href="{% url 'posts' %}">Posts</a></li>
    <li><a href="{% url 'subscriptions' %}">Abonnements</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Déconnexion</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Connexion</a></li>
    {% endif %}
</div>
{% endblock nav %}

{% block content %}
{% if user.is_authenticated %}

<div id='ticket_creation_buttons'>
        <button class="btn">
            <a href="{% url 'ticket_creation' %}">
                Demander une critque
            </a>
        </button>
        <button class="btn ">
            <a href="{% url 'review_creation_not_in_response_to_a_ticket' %}">
            Créer une critique
            </a>
        </button>
</div>

{% block posts_list %}
    <div id='posts_list'>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                <div class='ticket'>
                    {% include 'ticket_snippet.html' %}
                </div>
            {% elif post.content_type == 'REVIEW' %}
                <div class='review'>
                    {% include 'review_snippet.html' %}
                </div>
            {% endif %}
        {% endfor %}        
    </div
{% endblock %}
{% endif %}
{% endblock %}