{% extends 'base.html' %}
{% load static %}
{% block extrahead%}
    <link rel="stylesheet" href="{% static 'style_posts.css' %}">
{% endblock %}
{% block nav %}
<div id='nav-right'>
    <li><a href="{% url 'home' %}">Flux</a></li>
    <li>Posts</li>
    <li><a href="{% url 'subscriptions' %}">Abonnements</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Déconnexion</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Connexion</a></li>
    {% endif %}
</div>
{% endblock nav %}

{% block content %}
{% if user.is_authenticated %}

{% block reviews_list %}
    <div id='reviews_list'>
        {% for review in reviews %}
            <div class='review'>
                <h2>Vous avez publié une critique</h2>
                <div class='review_time_created'>
                    {{ review.time_created }}
                </div>
                <div class='review.headline'>
                    <h2>{{ review.headline }} - 
                        {% if review.rating == 1 %}
                        &#9733</h2>
                    </div>
                        {% elif review.rating == 2 %}
                        &#9733&#9733</h2>
                    </div>
                        {% elif review.rating == 3 %}
                        &#9733&#9733&#9733</h2>
                    </div>
                        {% elif review.rating == 4 %}
                        &#9733&#9733&#9733&#9733</h2>
                    </div>
                        {% elif review.rating == 5 %}
                        &#9733&#9733&#9733&#9733&#9733</h2>
                    </div>
                        {% endif %}
                <div class='review_body'>
                    {{ review.body|truncatechars:200 }}
                </div>
                <div class='ticket_related'>
                    <h3>Ticket - {{ review.ticket.user }}</h3>
                    {{ review.ticket }}
                    {% if review.ticket.image %}
                    <div class='image_ticket_related'>
                        <img src="{{ review.ticket.image.url }}" alt="image du ticket">
                    </div>
                    {% else %}
                    <div class='image_ticket_related'>
                        <img src="{{ BASIC_DIR }}/images/default_image.jpeg" alt="image du ticket">
                    </div>
                    {% endif %}
                </div>
                <button class='review_edit_button'>
                    <a href="{% url 'review_edit' review.id %}">Modifier</a>
                </button>
                <button class='review_delete_button'>
                    <a href="{% url 'review_delete' review.id %}">Supprimer</a>
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock reviews_list %}

{% block tickets_list %}
    <div id='tickets_list'>
        {% for ticket in tickets %}
            <div class='ticket'>
                <h2>Vous avez publié un ticket</h2>
                <div class='ticket_time_created'>
                    {{ ticket.time_created }}
                </div>
                <div class='ticket_title'>
                    <h2>{{ ticket.title }}</h2>
                </div>
                <div class='ticket_description'>
                    {{ ticket.description|truncatechars:200 }}
                </div>
                {% if ticket.image %}
                <div class='ticket_image'>
                    <img src="/{{ BASIC_DIR }}{{ticket.image}}" alt="image du ticket">
                </div>
                {% else %}
                <div class='ticket_image'>
                    <img src="{{ BASIC_DIR }}/images/default_image.jpeg" alt="image du ticket">
                </div>
                {% endif %}
                <button class='ticket_edit_button'>
                    <a href="{% url 'ticket_edit' ticket.id %}">Modifier</a>
                </button>
                <button class='ticket_delete_button'>
                    <a href="{% url 'ticket_delete' ticket.id %}">Supprimer</a>
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock tickets_list %}
{% endif %}
{% endblock %}
