{% extends 'base.html' %}
{% load static %}
    <title>LITReview</title>
    {% block extrahead%}
    <link rel="stylesheet" href="{% static 'style_review_creation.css' %}">
    {% endblock %}
{% block content %}
    <div id="review-creation-form">
    <h2>Créer une Review</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <div class="form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Envoyer">
            <button type="button">
                <a href="{% url 'home' %}">Retour</a>
            </button>
        </form>
    </div>
    </div>
{% endblock content %}